# CAREFUL: yaml is super sensitive to spaces - don't use tabs

# Parameters defining signal maps
simparams:
    nrealiz: 100   # for testing. Go back to ~100
    probes: ['cmbkappa']
    spins: [0]
    path2cls: ['/global/cscratch1/sd/sferraro/SOxpipe/input_cl/cl_kk.txt']
    l0_bins: [213.0373, 291.0176, 397.5417, 543.0580, 741.8391, 1013.3821, 1384.3207, 1891.0378]
    lf_bins: [291.0176, 397.5417, 543.0580, 741.8391, 1013.3821, 1384.3207, 1891.0378, 2583.2338]
    nside: 1024 # for testing purposes. Go back to 1024
    pixwindow: 1
    nell_theor: 3501

# Parameters defining noise maps
# If noiseparams: null, then noise-free mocks will be generated
noiseparams:
    probes: ['cmbkappa']
    noisemodel: theory
    path2noisecls: ['/global/cscratch1/sd/sferraro/SOxpipe/input_cl/ncl_kk.txt']
# footprint mask only
path2mask: '/global/cscratch1/sd/sferraro/SOxpipe/masks/mask_LSST_SO_40pc_nside1024.fits'
# point source mask only
#path2mask: '/global/cscratch1/sd/sferraro/SOxpipe/masks/SO_LSS_ptsources.fits'
# footprint + point sources mask
#path2mask: '/global/cscratch1/sd/sferraro/SOxpipe/masks/mask_footLSSTSO40pc_ps_nside1024.fits'


# Parameters defining this specific run
mode: curved
path2outputdir: '/global/cscratch1/sd/sferraro/SOxpipe/input_cl/sims_grf/k_footmask'

